<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Crud Carros</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Listado de Carros</h1>
        <a th:href="@{/carro/nuevo}">Nuevo Carro</a>
        <div th:if="${carro != null and !carro.empty}">
            <table border="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="carro : ${carro}">
                        <td>[[${carro.nombre}]]</td>
                        <td>[[${carro.categoria}]]</td>
                        <td>[[${carro.precio}]]</td>
                        <td><a th:href="@{carro/eliminar/} + ${carro.idCarro}">Eliminar</a></td>
                        <td><a th:href="@{carro/modificar/} + ${carro.idCarro}">Modificar</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div th:if="${carro == null or carro.empty}">
            <h2>No hay paises que mostrar...</h2>
        </div>


    </body>
</html>
